* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #76b5c5;
}

.text{
    margin-top: 270px;
    text-align: center;
    color: aliceblue;
}

.from-login{
    text-align: center;
    margin-top: 20px;
}

.from-login input{
    border: none;
    height: 50px;
    width: 250px;
    margin: 10px 0;
    padding: 0 10px;
    text-align: center;
    cursor: pointer;
}

.button{
    text-align: center;
    border: none;
   
}

